
<div class="order-placed text-center">
  	<div class="row">
		<div class="col-xs-12 col-sm-6">
	  		<h2>Order has been placed!</h2>
			<p>Thank you for ordering with Desire Jewellery!</p>
		</div>
  	</div>
</div>