<div class="container">
	<div class="row">
		<div class="col-md-12 col-xs-12 payment_page">
			<h1>Thank you for purchasing with us</h1>
				<p>We would love to hear from you, please leave us a <%= link_to 'comment', product_path(@product) %></p>
				<p>Alternatively, you may also be interested in these <%= link_to "Products", products_path %>
		</div>
	</div>
</div>