/*// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

/* font-family*/
$sans-serif: Tahoma; 
$serif: 'Dancing Script', cursive;

/*font weight*/
$normal: 400; 
$semibold: 500;
$bold: 700;

/*colors*/
$primary-color: #fff;
$secondary-color: #eee;
$third-color: #F08080;

/*align*/
$text-align: center;

/*font-size*/
$title-size: 3.2em;
$subheader-size: 1.5em;
$paragraph-size: 1em;


#notice {
	margin-top: 80px;
}

.img-catalogue {
	width: 386px;
	height: 218px;
	box-shadow: 2px 2px 5px 3px grey;
	border-radius: 5%;
}

#product.description {
	color: $secondary-color;
}

#form_list {
	margin-left: 25%;
	margin-top: 50px;
}

.field_with_errors {
	margin-left: 25%;
}

.product_info {
	margin-bottom: 30px;
}

.product_info p {
	display: inline-block;
	padding-left: 10px;
	text-decoration: none;
	color: #F08080;
	margin-bottom: 10px;

}

.product_info h6 {		
	text-decoration: none;
	color: #F08080;
	font-weight: bold;
	margin-bottom: 20px;
}

.product_info h6 a {
	color: #C2E6DC;
}

.product_info h6 a:hover {
	background-color: transparent;
	color: #F08080;
	/*padding: 2px;*/
	text-decoration: none;
}

.product_info p a {
	color: #F08080;
	display: inline-block;
}

.product_info p a:hover {
	background-color: transparent;
	color: #C2E6DC;
	/*padding: 2px;*/
	text-decoration: none;
}



.new_product span{
	font-size: 1.3em;
	margin-top: 20px;
	display: inline-block;
	text-decoration: none;
	margin-bottom: 20px;
}

.new_product span a {
	color: #C2E6DC;

}

.new_product span a:hover {
	background-color: #ddd;
	color: #fff;
	padding: 10px;
	text-decoration: none;
}

.item_info {
	margin-top: 5px;
	padding: 20px;
}

.item_info strong {
	font-family: $serif;
	font-size: 1.75em;
	color: #DCDCDC;
}

.item_info p {
	font-family: $sans-serif;
	font-size: 1em;
	color: #C2E6DC;
	margin-top: 10px;
}

.thumbnail {
	padding: 0;
	margin: 0;
	margin-left: 50px;
	box-shadow: 2px 2px 5px 3px grey;
	border-radius: 5%;
}

.rated b {
	margin-top: 30px;
}

.product-reviews p {
	color: #C2E6DC;
}

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  /*padding: 5px;*/
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #eee;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 1.9;
    border: 2px dotted #F08080;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline;
      background: #f1f1f1;
      color: #F08080;
      text-decoration: none;
    }

.glyphicon-remove {
	color: red;
}

.viewed {
	margin-top: 20px; margin-bottom: 20px;
	
}

.viewed .badge {
	color: #F08080;
	border-radius: 50%;
	background-color: #eee;
	border: 2px dotted #F08080;
}



/* Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

@media (max-width: 700px) {
	.thumbnail {
		margin-left: 0; margin-bottom: 20px;
	}
	
}
