<p id="notice"><%= notice %></p>

<div class="row" id="new_prod">
	<div class="col-sm-1 col-md-6">
		<h1>Products</h1>
		</div>
		<div class="col-sm-1 col-md-6">
		<span><%= link_to 'New Product', new_product_path %></span>
	</div>
</div>

<div class="container-fluid" class="prod_range">
    <div class="row">
        <%= render @products %>
    </div><!--/row-->

</div><!--/container-->


<%= link_to "Back", root_path %>
<br>


