
<h1>Products</h1>

<div class="container">

	<div class="new_product">
		<div class="row">
			<div class="col-xs-12 col-md-12">
					<% if current_user && current_user.admin? %>
						<span><%= link_to 'New Product', new_product_path %></span>
					<% end %>
			</div>
		</div>
	</div>

	<div class="product_range">
	    <div class="row">

	    		<% cache (cache_key_for_products) do %>
	        	<%= render @products %>
	        <% end %>

	    </div><!--/row-->
	</div>

	<div class="apple_pagination"><%= will_paginate @comments %></div>

</div><!--/container-->

<%= link_to "Back", root_path, class:"btn btn-default" %>
<br>


